@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
html, body{
overflow-x: hidden;
}


.wrap{
display: flex;
align-items: center;
justify-content: center;
width: 80%;
margin: 60px auto;

}
.targetHeader{
    font-family: 'Roboto Mono', monospace;
    border: 5px solid lightblue;
    transform: skew(5deg,3deg);
    width: 38%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.star img{
    width: 100px;
}
.controlThe{
    font-family: 'Borel', cursive;
    font-size: 25px;
}
#img1{
width: 100%;
}
.mainBox{
    background-color: #D6EAF8 ;
    padding: 30px;
    width: 40%;
}
.mainBox p{
font-size: 20px;
}
.targetUFOImage{
    width: 60%; 
    padding-left: 80px;  
}
.guessButton{
background-color: orange;
border: none;
padding: 10px 12px;
border-radius: 20px;
margin: 0px 5px;
}
.restartButton{
    background-color: pink;
    border: none;
padding: 10px 12px;
border-radius: 20px;

}
#checkGuessID{
    border: none;
    padding: 10px 12px;
    border-radius: 20px; 
}

 /*ipad*/
 @media screen and (max-width: 992px) {
    .wrap{
        display: flex;
        flex-direction: column;
        width: 90%;    
        }
        .mainBox{
            background-color: #D6EAF8 ;
            padding: 30px;
            width: 70%;
text-align: center;
font-size: 50px;
        }
        .targetUFOImage{
            width: 70%; 
            padding-left: 50px;  
            margin-top: 50px;
        }
        #checkGuessID{
          font-size: 20px;
        }
      
 }
 
 /*ipad-mini*/
 @media screen and (max-width: 768px) {
 }
 
 /*phone*/
 @media screen and (max-width: 600px) {
    .targetHeader{         
        width: 60%;
        margin-top: 15px;
    }
    .mainBox{
        background-color: #D6EAF8 ;
        padding: 30px;
        width: 70%;
text-align: center;

    }
    .wrap{
        margin: 30px auto;       
        }
        #blankWord{
          
            font-size:30px;
        }
        .targetUFOImage{
            width: 100%; 
            padding-left: 0px;  
        }
 }

